*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	font-size: 14px;
	font-weight: 500;
	font-family: var(--fontNoto_Sans_JP);
	line-height: 1.7;
	color: var(--textColorPrimary);
	background-color: var(--bgColorPrimary);
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

li,
ol {
	list-style: none;
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
	font-style: italic;
	background-repeat: no-repeat;
	background-size: cover;
	shape-margin: 0.75rem;
}

button {
	touch-action: manipulation;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}