:root {

	/* color */
	--textColorPrimary: #1A1A1A;
	--textColorSecondary: #FFFFFF;
	--textColorTertiary: #023E78;
	--textColorQuaternary:#E61264;
	--textColorQuinary: #888888;
	--textColorSenary: #FFF400;
	--textColorSeptenary: #E8E8E8;

	/* background-color */
	--bgColorPrimary: #FFFFFF;
	--bgColorSecondary: #1A1A1A;
	--bgColorTertiary: #023E78;
	--bgColorQuaternary: #EDF3F8;
	--bgColorQuinary: #FFF400;
	--bgColorSenary: #DDE8F0;
	--bgColorSeptenary: #C7DBE9;
	--bgColorOctonary: #B0D0E5;
	--bgColorNonary: #F8F8F8;

	/* border */
	--borderColorPrimary: #023E78;
	--borderColorSecondary: #FFFFFF;
	--borderColorTertiary: #FFF400;
	--borderColorQuaternary: #1A1A1A;
	--borderColorQuinary: #E61264;
	--borderColorSenary: #DDDDDD;
	--borderColorSeptenary: #E8EAEC;
	--borderColorOctonary: #CCCCCC;

	/* fontFamily */
	--fontNoto_Sans_JP: sans-serif;
	--fontFira_Sans: sans-serif;
	--fontRoboto: sans-serif;
}