.download {
	margin-top: 80px;
	margin-bottom: 120px;
}

.inner {}

.content {
	display: flex;
	justify-content: space-between;
}

.body {
	max-width: calc((510 / 1100) * 100%);
	width: 100%;
	display: flex;
	flex-direction: column;
}

.heading2 {
	order: 1;
	font-size: 28px;
	font-weight: 700;
	line-height: calc(40 / 28);
}

.textWrap {
	order: 3;
	margin-top: 38px;
}

.text {}

.imageWrap {
	order: 2;
	margin-top: 40px;
	max-width: calc((275 / 510) * 100%);
	width: 100%;
	margin-inline: auto;
}

.image {}

.formBox {
	max-width: calc((550 / 1100) * 100%);
	width: 100%;
	background-color: var(--bgColorQuaternary);
	padding: 40px;
	border-radius: 12px;
}

@media (max-width: 960px) {

	.content {
		flex-direction: column;
		gap: 59px;
	}

	.body {
		max-width: 100%;
	}

	.imageWrap {
		/* max-width: 100%; */
	}

	.formBox {
		max-width: 100%;
	}
}

@media (max-width: 599px) {

	.download {
		margin-top: 60px;
		margin-bottom: 100px;
	}

	.heading2 {
		font-size: 20px;
		line-height: calc(28 / 20);
	}

	.imageWrap {
		margin-top: 40px;
		max-width: 275px;
	}

	.formBox {
		padding: 40px 20px;
	}
}