.about {
	position: relative;
	margin-top: 150px;
	padding-top: 104px;
	padding-bottom: 93px;
}

.about::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: calc((500 / 1100) * 100%);
	height: 100%;
	background-image: url(/img/index/about/about_top-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
}

.about::after {
	content: '';
	position: absolute;
	top: 140px;
	left: 0;
	width: 100%;
	height: 800px;
	background-color: var(--bgColorQuaternary);
	z-index: -1;
	clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 71%);
}

.inner {}

.head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.buttonWrap {}


.content {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 10;
	margin-top: 22px;
}

.body {
	max-width: calc((379 / 1100) * 100%);
	width: 100%;
}

.text:not(:first-child) {
	margin-top: 26px;
}

.imageWrap {
	max-width: calc((681 / 1100) * 100%);
	width: 100%;
}

@media (max-width: 960px) {

	.about::before {
		height: 80%;
	}

	.content {
		flex-direction: column;
		align-items: baseline;
		gap: 40px;
	}

	.body {
		max-width: 50%;
	}

	.imageWrap {
		max-width: 100%;
	}
}

@media (max-width: 768px) {

	.about {
		margin-top: 60px;
		padding-top: 0;
		padding-bottom: 112px;
	}

	.about::before {
		width: calc((295 / 375) * 100%);
		height: 362px;
		top: auto;
		bottom: 0;
	}

	.about::after {
		top: 116px;
		height: 854px;
		clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 94%);
	}

	.buttonWrap {
		position: absolute;
		bottom: 46px;
		right: 20px;
	}

	.content {
		margin-top: 58px;
		gap: 70px;
	}

	.body {
		max-width: 100%;
	}

	.imageWrap {
		max-width: 100%;
	}
}