.ga {
	margin-top: 160px;
	margin-bottom: 160px;
}

.head {
	text-align: center;
}

.heading2 {
	font-size: 24px;
	line-height: calc(34.75 / 24);
	font-weight: 700;
}

.list {
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.row {
	padding-bottom: 32px;
	border-bottom: 1px solid var(--borderColorSenary);
}

.q {
	position: relative;
	font-size: 20px;
	line-height: calc(28.96 / 20);
	font-weight: 700;
}

.qTitle {}

details[open] .q {
	color: var(--textColorQuaternary);
}

details[open] .q .plus {
	transform: translateY(-50%) rotate(45deg);
}

.plus {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 12px;
	font-size: 21px;
}

.a {
	animation: fadeIn 0.5s ease;
	max-width: 588px;
	width: 100%;
	margin-inline: auto;
	margin-top: 29px;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

@media (max-width: 768px) {

	.qTitle {
		max-width: 500px;
		width: 100%;
		display: block;
	}
}

@media (max-width: 599px) {

	.ga {
		margin-top: 60px;
		margin-bottom: 100px;
	}

	.list {
		margin-top: 40px;
		gap: 18px;
	}

	.row {
		padding-bottom: 15px;
	}

	.q {
		font-size: 16px;
		line-height: calc(23.17 / 16);
	}

	.qTitle {
		max-width: 262px;
	}

	.a {
		margin-top: 18px;
	}
}